body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 2em;
}

h1, h2{
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.cards {
    margin: 30px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p {
    margin: 5px;
}

button {
    background: yellow;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 20px;
    cursor: pointer;
}
.back-button {
    position: absolute;
    top: 5px;
    left: 7px;
}
.replies {
    position: relative;
    left: 10px;
    border-left: 3px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}
